<template>
  <div class="wrap-main">
    <div class="post" v-for="(post, index) in posts" :key="index">
      <span class="number-post">{{ index }}</span>
      <span class="name-post">{{ post.name }}</span>
      <span class="age-post">{{ post.age }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      endpoint: 'https://api.myjson.com/bins/ja52g',
      posts: [],
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
    getAllUsers: function() {
      this.$http.get(this.endpoint).then(res => {
        this.posts = res.data
        // console.log(this.posts)
        // console.log(Object.values(this.posts))
        // console.log(Object.keys(this.posts))
        // console.log(Object.entries(this.posts))
         let listOfObjects = Object.entries(this.posts).map(i => {
          console.log(i)
          return {id: i[0], ...i[1]}
         })
         console.log('listOfObjects: ', listOfObjects)
      }, err => {
        //error
      })
    }
  },
  created () {
    this.getAllUsers()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.number-post {

}
.age-post {

}
.name-post {

}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
